# API Keys
discord_token = ''

ocr_token = ''
riot_token = ''
riot_token_TFT = ''
apod_token = ''
osu_token = ''
waifu2x_token = ''
aoc_session_id = ''
reddit_client_id = ''
reddit_client_secret = ''
reddit_user_agent = ''
reddit_refresh_token = ''

# Settings
default_prefix = '^'
sqlalchemy_db_url = 'sqlite:///PyChan.db?charset=utf8mb4'
database_echo = False
